flows.json
[
    {
        "id": "9dcf4eee0723b8d2",
        "type": "tab",
        "label": "DEVICE INIT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b1a454d0a1b772ee",
        "type": "tab",
        "label": "IOLINK",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "65ae0cadc7781aa1",
        "type": "subflow",
        "name": "IO-Link Master Scan",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 280,
                "y": 220,
                "wires": [
                    {
                        "id": "aff651fd6569750a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 920,
                "y": 760,
                "wires": [
                    {
                        "id": "97d619e2924074bc",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "IP_DIRECTION",
                "type": "str",
                "value": "192.168.82.75"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "b58216f533ec2669",
        "type": "subflow",
        "name": "IO-Link Port Scan",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 160,
                "y": 180,
                "wires": [
                    {
                        "id": "cef1d88724f40baa"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1260,
                "y": 400,
                "wires": [
                    {
                        "id": "42e3e03fdce0f0f3",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "IP_DIRECTION",
                "type": "str",
                "value": "192.168.82.75"
            },
            {
                "name": "PORT_NUMBER",
                "type": "str",
                "value": "1"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "1af9c3d86050e6d8",
        "type": "subflow",
        "name": "IO - Link Port Data",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 200,
                "y": 240,
                "wires": [
                    {
                        "id": "5b59f58562b5f5b2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1240,
                "y": 240,
                "wires": [
                    {
                        "id": "09ecbbe6916d526e",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "PORT_NUMBER",
                "type": "num",
                "value": "1"
            },
            {
                "name": "IP_DIRECTION",
                "type": "str",
                "value": "192.168.82.75"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "c395f374d5bba422",
        "type": "subflow",
        "name": "IO - Link Master Data",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 160,
                "wires": [
                    {
                        "id": "c31def8bf825b0b8"
                    },
                    {
                        "id": "6d0b111efc82a527"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1520,
                "y": 580,
                "wires": [
                    {
                        "id": "c92bb0e5efbba161",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "IP_DIRECTION",
                "type": "str",
                "value": "192.168.82.75"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "d8eff534107492f4",
        "type": "subflow",
        "name": "Device Filter",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 280,
                "wires": [
                    {
                        "id": "34a4e7e9cc3687ce"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 200,
                "wires": [
                    {
                        "id": "371d093ac236cbce",
                        "port": 0
                    },
                    {
                        "id": "53c726fc1028b527",
                        "port": 0
                    },
                    {
                        "id": "07c57668abdc994e",
                        "port": 0
                    },
                    {
                        "id": "fb80f376a26705b3",
                        "port": 0
                    },
                    {
                        "id": "0b7f8b830932a8bf",
                        "port": 0
                    },
                    {
                        "id": "8b80f99b0e88cbb2",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "19b6f50e55a455e1",
        "type": "group",
        "z": "d8eff534107492f4",
        "name": "ORIGINAL",
        "style": {
            "label": true
        },
        "nodes": [
            "f1632e3bd92b44c4",
            "065a3d5ac1b7f5d4",
            "9a6c333b4b587bad",
            "5c8b5d9c9ceccadf",
            "0b717de283f6608d",
            "7f226d4c25819e01",
            "c56add60c00b9105"
        ],
        "x": 1134,
        "y": 79
    },
    {
        "id": "5b5f595359b2ec9b",
        "type": "group",
        "z": "9dcf4eee0723b8d2",
        "name": "IO-Link Init",
        "style": {
            "label": true
        },
        "nodes": [
            "d1e0699f3e3c2b0d",
            "6f9354ac4c4be6c8",
            "93bcd886dcf1f3fe",
            "afa6f4ca482b7156"
        ],
        "x": 114,
        "y": 319,
        "w": 872,
        "h": 82
    },
    {
        "id": "08c902da4f7dcb55",
        "type": "group",
        "z": "b1a454d0a1b772ee",
        "name": "DELETE ALL DATA MANUALLY (CAREFULL)",
        "style": {
            "label": true
        },
        "nodes": [
            "15aadde17c038948",
            "2aca6185fd12770c",
            "c794322cc5fa1859"
        ],
        "x": 134,
        "y": 999,
        "w": 582,
        "h": 82
    },
    {
        "id": "f24f472989f566a2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "soldier.cloudmqtt.com",
        "port": "15258",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "66a6f4a6faa96408",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0000a8",
                "baseFont": "Arial Black,Arial Black,Gadget,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#0c9ba3",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0000a8",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0000a8",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0000f4",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0000a8",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Arial Black,Arial Black,Gadget,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a8296e09a0e84385",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "482cee287fc3f19b",
        "type": "ui_tab",
        "name": "Sensor de distancia",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bd42404b5a3b147c",
        "type": "ui_group",
        "name": "SENSORES DE IFM_IO-LINK",
        "tab": "482cee287fc3f19b",
        "order": 1,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1cb90acde1a49853",
        "type": "ui_spacer",
        "z": "b1a454d0a1b772ee",
        "name": "spacer",
        "group": "0a9c35cecfe2fc14",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "65e6593e177ebd04",
        "type": "ui_spacer",
        "z": "b1a454d0a1b772ee",
        "name": "spacer",
        "group": "0a9c35cecfe2fc14",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "6bacec019f2375b2",
        "type": "ui_spacer",
        "z": "b1a454d0a1b772ee",
        "name": "spacer",
        "group": "0a9c35cecfe2fc14",
        "order": 2,
        "width": "",
        "height": ""
    },
    {
        "id": "f1b5c3d2df662e1b",
        "type": "ui_group",
        "name": "Scan_Io-link",
        "tab": "482cee287fc3f19b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "73614e2bf1ef33ea",
        "type": "ui_spacer",
        "z": "b1a454d0a1b772ee",
        "name": "spacer",
        "group": "bd42404b5a3b147c",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "c5d01a4072c97ab5",
        "type": "ui_spacer",
        "z": "b1a454d0a1b772ee",
        "name": "spacer",
        "group": "bd42404b5a3b147c",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "83d72906955c8d94",
        "type": "ui_spacer",
        "z": "b1a454d0a1b772ee",
        "name": "spacer",
        "group": "bd42404b5a3b147c",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "5dba67cae8a3e844",
        "type": "ui_spacer",
        "z": "b1a454d0a1b772ee",
        "name": "spacer",
        "group": "bd42404b5a3b147c",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "8eb7ca846c24ad43",
        "type": "ui_spacer",
        "z": "b1a454d0a1b772ee",
        "name": "spacer",
        "group": "bd42404b5a3b147c",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "4bd27543a5b42e77",
        "type": "ui_spacer",
        "z": "b1a454d0a1b772ee",
        "name": "spacer",
        "group": "bd42404b5a3b147c",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "69c25d3118de60f1",
        "type": "ui_spacer",
        "z": "b1a454d0a1b772ee",
        "name": "spacer",
        "group": "bd42404b5a3b147c",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "565b56ca2e5fdd39",
        "type": "ui_spacer",
        "z": "b1a454d0a1b772ee",
        "name": "spacer",
        "group": "bd42404b5a3b147c",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "eb9098af57cb72f9",
        "type": "ui_spacer",
        "z": "b1a454d0a1b772ee",
        "name": "spacer",
        "group": "bd42404b5a3b147c",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "93b82968b9508fec",
        "type": "ui_spacer",
        "z": "b1a454d0a1b772ee",
        "name": "spacer",
        "group": "bd42404b5a3b147c",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "5f6e84a2b9a2edaa",
        "type": "ui_spacer",
        "z": "b1a454d0a1b772ee",
        "name": "spacer",
        "group": "bd42404b5a3b147c",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "bcd09d5cc7cb9a38",
        "type": "ui_spacer",
        "z": "b1a454d0a1b772ee",
        "name": "spacer",
        "group": "bd42404b5a3b147c",
        "order": 21,
        "width": 2,
        "height": 1
    },
    {
        "id": "9e0babdd6959150d",
        "type": "ui_spacer",
        "z": "b1a454d0a1b772ee",
        "name": "spacer",
        "group": "bd42404b5a3b147c",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "c49fc2234044fae7",
        "type": "MySQLdatabase",
        "name": "",
        "host": "192.168.88.147",
        "port": "3306",
        "db": "db_test",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "b7dbe9ea01bb0817",
        "type": "subflow:b58216f533ec2669",
        "z": "65ae0cadc7781aa1",
        "name": "Port 1",
        "env": [
            {
                "name": "IP_DIRECTION",
                "value": "IP_DIRECTION",
                "type": "env"
            }
        ],
        "x": 550,
        "y": 220,
        "wires": [
            [
                "bbdd920d422725ca"
            ]
        ]
    },
    {
        "id": "d6f1d1c55b08f6e9",
        "type": "subflow:b58216f533ec2669",
        "z": "65ae0cadc7781aa1",
        "name": "Port 2",
        "env": [
            {
                "name": "IP_DIRECTION",
                "value": "IP_DIRECTION",
                "type": "env"
            },
            {
                "name": "PORT_NUMBER",
                "value": "2",
                "type": "str"
            }
        ],
        "x": 910,
        "y": 220,
        "wires": [
            [
                "2e21a8b7250f9007"
            ]
        ]
    },
    {
        "id": "22def6679004d1be",
        "type": "subflow:b58216f533ec2669",
        "z": "65ae0cadc7781aa1",
        "name": "Port 3",
        "env": [
            {
                "name": "IP_DIRECTION",
                "value": "IP_DIRECTION",
                "type": "env"
            },
            {
                "name": "PORT_NUMBER",
                "value": "3",
                "type": "str"
            }
        ],
        "x": 550,
        "y": 340,
        "wires": [
            [
                "0808e08e9784dc99"
            ]
        ]
    },
    {
        "id": "e51d5d91b30f3f09",
        "type": "subflow:b58216f533ec2669",
        "z": "65ae0cadc7781aa1",
        "name": "Port 4",
        "env": [
            {
                "name": "IP_DIRECTION",
                "value": "IP_DIRECTION",
                "type": "env"
            },
            {
                "name": "PORT_NUMBER",
                "value": "4",
                "type": "str"
            }
        ],
        "x": 910,
        "y": 340,
        "wires": [
            [
                "89b8219cc1b2d2c2"
            ]
        ]
    },
    {
        "id": "275293285069448c",
        "type": "subflow:b58216f533ec2669",
        "z": "65ae0cadc7781aa1",
        "name": "Port 5",
        "env": [
            {
                "name": "IP_DIRECTION",
                "value": "IP_DIRECTION",
                "type": "env"
            },
            {
                "name": "PORT_NUMBER",
                "value": "5",
                "type": "str"
            }
        ],
        "x": 550,
        "y": 460,
        "wires": [
            [
                "9ad5ad4e84ccb7f9"
            ]
        ]
    },
    {
        "id": "22d249c0460db418",
        "type": "subflow:b58216f533ec2669",
        "z": "65ae0cadc7781aa1",
        "name": "Port 6",
        "env": [
            {
                "name": "IP_DIRECTION",
                "value": "IP_DIRECTION",
                "type": "env"
            },
            {
                "name": "PORT_NUMBER",
                "value": "6",
                "type": "str"
            }
        ],
        "x": 910,
        "y": 460,
        "wires": [
            [
                "d49cfa8ffbe0806b"
            ]
        ]
    },
    {
        "id": "ee124c92fbefb6c0",
        "type": "subflow:b58216f533ec2669",
        "z": "65ae0cadc7781aa1",
        "name": "Port 7",
        "env": [
            {
                "name": "IP_DIRECTION",
                "value": "IP_DIRECTION",
                "type": "env"
            },
            {
                "name": "PORT_NUMBER",
                "value": "7",
                "type": "str"
            }
        ],
        "x": 550,
        "y": 580,
        "wires": [
            [
                "c973c79219ee6bd6"
            ]
        ]
    },
    {
        "id": "32a36303ccdbba10",
        "type": "subflow:b58216f533ec2669",
        "z": "65ae0cadc7781aa1",
        "name": "Port 8",
        "env": [
            {
                "name": "IP_DIRECTION",
                "value": "IP_DIRECTION",
                "type": "env"
            },
            {
                "name": "PORT_NUMBER",
                "value": "8",
                "type": "str"
            }
        ],
        "x": 910,
        "y": 580,
        "wires": [
            [
                "f02a48429bcecb63"
            ]
        ]
    },
    {
        "id": "bbdd920d422725ca",
        "type": "change",
        "z": "65ae0cadc7781aa1",
        "name": "Port1 set",
        "rules": [
            {
                "t": "set",
                "p": "ports.port1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 220,
        "wires": [
            [
                "d6f1d1c55b08f6e9"
            ]
        ]
    },
    {
        "id": "2e21a8b7250f9007",
        "type": "change",
        "z": "65ae0cadc7781aa1",
        "name": "Port2 set",
        "rules": [
            {
                "t": "set",
                "p": "ports.port2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 220,
        "wires": [
            [
                "22def6679004d1be"
            ]
        ]
    },
    {
        "id": "0808e08e9784dc99",
        "type": "change",
        "z": "65ae0cadc7781aa1",
        "name": "Port3 set",
        "rules": [
            {
                "t": "set",
                "p": "ports.port3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 340,
        "wires": [
            [
                "e51d5d91b30f3f09"
            ]
        ]
    },
    {
        "id": "89b8219cc1b2d2c2",
        "type": "change",
        "z": "65ae0cadc7781aa1",
        "name": "Port4 set",
        "rules": [
            {
                "t": "set",
                "p": "ports.port4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 340,
        "wires": [
            [
                "275293285069448c"
            ]
        ]
    },
    {
        "id": "9ad5ad4e84ccb7f9",
        "type": "change",
        "z": "65ae0cadc7781aa1",
        "name": "Port5 set",
        "rules": [
            {
                "t": "set",
                "p": "ports.port5",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 460,
        "wires": [
            [
                "22d249c0460db418"
            ]
        ]
    },
    {
        "id": "d49cfa8ffbe0806b",
        "type": "change",
        "z": "65ae0cadc7781aa1",
        "name": "Port6 set",
        "rules": [
            {
                "t": "set",
                "p": "ports.port6",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 460,
        "wires": [
            [
                "ee124c92fbefb6c0"
            ]
        ]
    },
    {
        "id": "c973c79219ee6bd6",
        "type": "change",
        "z": "65ae0cadc7781aa1",
        "name": "Port7 set",
        "rules": [
            {
                "t": "set",
                "p": "ports.port7",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 580,
        "wires": [
            [
                "32a36303ccdbba10"
            ]
        ]
    },
    {
        "id": "f02a48429bcecb63",
        "type": "change",
        "z": "65ae0cadc7781aa1",
        "name": "Port8 set",
        "rules": [
            {
                "t": "set",
                "p": "ports.port8",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 580,
        "wires": [
            [
                "97d619e2924074bc"
            ]
        ]
    },
    {
        "id": "97d619e2924074bc",
        "type": "change",
        "z": "65ae0cadc7781aa1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ports",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "aff651fd6569750a",
        "type": "change",
        "z": "65ae0cadc7781aa1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ports",
                "pt": "flow",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 220,
        "wires": [
            [
                "b7dbe9ea01bb0817"
            ]
        ]
    },
    {
        "id": "c086c559869caa49",
        "type": "function",
        "z": "b58216f533ec2669",
        "name": "GET PORT1 SERIAL",
        "func": "\n\n    msg.payload = { \"code\": \"request\", \"cid\": -1, \"adr\": `/iolinkmaster/port[${env.get(\"PORT_NUMBER\")}]/iolinkdevice/serial/getdata`}\n    \nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "0a2755131228965f"
            ]
        ]
    },
    {
        "id": "0a2755131228965f",
        "type": "http request",
        "z": "b58216f533ec2669",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "${IP_DIRECTION}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 260,
        "wires": [
            [
                "f00a60d36b2599e8"
            ]
        ]
    },
    {
        "id": "021a901e314dd3e4",
        "type": "function",
        "z": "b58216f533ec2669",
        "name": "GET PORT1 DEVICENAME",
        "func": "\nmsg.payload = { \"code\": \"request\", \"cid\": -1, \"adr\": `/iolinkmaster/port[${env.get(\"PORT_NUMBER\")}]/iolinkdevice/productname/getdata`}\n    \nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 320,
        "wires": [
            [
                "9a57264695c0be0e"
            ]
        ]
    },
    {
        "id": "4ffaf16596e3168f",
        "type": "function",
        "z": "b58216f533ec2669",
        "name": "GET PORT STATUS",
        "func": "\nmsg.payload = {\"code\":\"request\",\"cid\":-1,\"adr\":`/iolinkmaster/port[${env.get(\"PORT_NUMBER\")}]/iolinkdevice/status/getdata`}\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 380,
        "wires": [
            [
                "d0640fa22c2546c1"
            ]
        ]
    },
    {
        "id": "7987de61826475bd",
        "type": "change",
        "z": "b58216f533ec2669",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "port.devName",
                "pt": "flow",
                "to": "payload.data.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 320,
        "wires": [
            [
                "4ffaf16596e3168f"
            ]
        ]
    },
    {
        "id": "d8b6e9442384e1a0",
        "type": "change",
        "z": "b58216f533ec2669",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "port.devStatus",
                "pt": "flow",
                "to": "payload.data.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 380,
        "wires": [
            [
                "42e3e03fdce0f0f3"
            ]
        ]
    },
    {
        "id": "42e3e03fdce0f0f3",
        "type": "change",
        "z": "b58216f533ec2669",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "port",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f00a60d36b2599e8",
        "type": "change",
        "z": "b58216f533ec2669",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "port.devSerial",
                "pt": "flow",
                "to": "payload.data.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 260,
        "wires": [
            [
                "021a901e314dd3e4"
            ]
        ]
    },
    {
        "id": "9a57264695c0be0e",
        "type": "http request",
        "z": "b58216f533ec2669",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "${IP_DIRECTION}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 320,
        "wires": [
            [
                "7987de61826475bd"
            ]
        ]
    },
    {
        "id": "d0640fa22c2546c1",
        "type": "http request",
        "z": "b58216f533ec2669",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "${IP_DIRECTION}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 380,
        "wires": [
            [
                "d8b6e9442384e1a0"
            ]
        ]
    },
    {
        "id": "cef1d88724f40baa",
        "type": "change",
        "z": "b58216f533ec2669",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "port",
                "pt": "flow",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "c086c559869caa49"
            ]
        ]
    },
    {
        "id": "5b59f58562b5f5b2",
        "type": "function",
        "z": "1af9c3d86050e6d8",
        "name": "GET PORT1 SERIAL",
        "func": "\n\nmsg.payload = { \"code\": \"request\", \"cid\": -1, \"adr\": `/iolinkmaster/port[${env.get(\"PORT_NUMBER\")}]/iolinkdevice/pdin/getdata`}\n    \nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 240,
        "wires": [
            [
                "aafb74efcc67cf08"
            ]
        ]
    },
    {
        "id": "aafb74efcc67cf08",
        "type": "http request",
        "z": "1af9c3d86050e6d8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "${IP_DIRECTION}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 240,
        "wires": [
            [
                "09ecbbe6916d526e"
            ]
        ]
    },
    {
        "id": "09ecbbe6916d526e",
        "type": "change",
        "z": "1af9c3d86050e6d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "cdbec5e17b8da2a4",
        "type": "subflow:1af9c3d86050e6d8",
        "z": "c395f374d5bba422",
        "name": "",
        "env": [
            {
                "name": "IP_DIRECTION",
                "value": "IP_DIRECTION",
                "type": "env"
            }
        ],
        "x": 490,
        "y": 160,
        "wires": [
            [
                "73014834345116ed"
            ]
        ]
    },
    {
        "id": "ff773da3c60a548b",
        "type": "subflow:1af9c3d86050e6d8",
        "z": "c395f374d5bba422",
        "name": "",
        "env": [
            {
                "name": "PORT_NUMBER",
                "value": "2",
                "type": "num"
            },
            {
                "name": "IP_DIRECTION",
                "value": "IP_DIRECTION",
                "type": "env"
            }
        ],
        "x": 490,
        "y": 220,
        "wires": [
            [
                "d77f0105aba49980"
            ]
        ]
    },
    {
        "id": "25691c5788f76a96",
        "type": "subflow:1af9c3d86050e6d8",
        "z": "c395f374d5bba422",
        "name": "",
        "env": [
            {
                "name": "PORT_NUMBER",
                "value": "3",
                "type": "num"
            },
            {
                "name": "IP_DIRECTION",
                "value": "IP_DIRECTION",
                "type": "env"
            }
        ],
        "x": 490,
        "y": 280,
        "wires": [
            [
                "d79fb29cdd44ad32"
            ]
        ]
    },
    {
        "id": "bcd1c69913e34c96",
        "type": "subflow:1af9c3d86050e6d8",
        "z": "c395f374d5bba422",
        "name": "",
        "env": [
            {
                "name": "PORT_NUMBER",
                "value": "4",
                "type": "num"
            },
            {
                "name": "IP_DIRECTION",
                "value": "IP_DIRECTION",
                "type": "env"
            }
        ],
        "x": 490,
        "y": 340,
        "wires": [
            [
                "4ece281a2a170253"
            ]
        ]
    },
    {
        "id": "ec493b6dee236911",
        "type": "subflow:1af9c3d86050e6d8",
        "z": "c395f374d5bba422",
        "name": "",
        "env": [
            {
                "name": "PORT_NUMBER",
                "value": "5",
                "type": "num"
            },
            {
                "name": "IP_DIRECTION",
                "value": "IP_DIRECTION",
                "type": "env"
            }
        ],
        "x": 490,
        "y": 400,
        "wires": [
            [
                "9b1acc21833bada2"
            ]
        ]
    },
    {
        "id": "4b149e3126208072",
        "type": "subflow:1af9c3d86050e6d8",
        "z": "c395f374d5bba422",
        "name": "",
        "env": [
            {
                "name": "PORT_NUMBER",
                "value": "6",
                "type": "num"
            },
            {
                "name": "IP_DIRECTION",
                "value": "IP_DIRECTION",
                "type": "env"
            }
        ],
        "x": 490,
        "y": 460,
        "wires": [
            [
                "394f960a6d985212"
            ]
        ]
    },
    {
        "id": "264ab98aa0aa9ee0",
        "type": "subflow:1af9c3d86050e6d8",
        "z": "c395f374d5bba422",
        "name": "",
        "env": [
            {
                "name": "PORT_NUMBER",
                "value": "7",
                "type": "num"
            },
            {
                "name": "IP_DIRECTION",
                "value": "IP_DIRECTION",
                "type": "env"
            }
        ],
        "x": 490,
        "y": 520,
        "wires": [
            [
                "73098bb69f73b57b"
            ]
        ]
    },
    {
        "id": "01c9244c72353251",
        "type": "subflow:1af9c3d86050e6d8",
        "z": "c395f374d5bba422",
        "name": "",
        "env": [
            {
                "name": "PORT_NUMBER",
                "value": "8",
                "type": "num"
            },
            {
                "name": "IP_DIRECTION",
                "value": "IP_DIRECTION",
                "type": "env"
            }
        ],
        "x": 490,
        "y": 580,
        "wires": [
            [
                "f2b9f28781bbc131"
            ]
        ]
    },
    {
        "id": "73014834345116ed",
        "type": "change",
        "z": "c395f374d5bba422",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "devName",
                "pt": "msg",
                "to": "devices.port1.devName",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "ports.port1.serial",
                "pt": "flow",
                "to": "devices.port1.devSerial",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 160,
        "wires": [
            [
                "ea24126046df2c97"
            ]
        ]
    },
    {
        "id": "f46dc73e1bcddcbe",
        "type": "change",
        "z": "c395f374d5bba422",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ports.port2.data",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 220,
        "wires": [
            [
                "25691c5788f76a96"
            ]
        ]
    },
    {
        "id": "7466d27992f8ca03",
        "type": "change",
        "z": "c395f374d5bba422",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ports.port3.data",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 280,
        "wires": [
            [
                "bcd1c69913e34c96"
            ]
        ]
    },
    {
        "id": "e0d762bde87ad235",
        "type": "change",
        "z": "c395f374d5bba422",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ports.port4.data",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 340,
        "wires": [
            [
                "ec493b6dee236911"
            ]
        ]
    },
    {
        "id": "c42c33eef980cae4",
        "type": "change",
        "z": "c395f374d5bba422",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ports.port5.data",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 400,
        "wires": [
            [
                "4b149e3126208072"
            ]
        ]
    },
    {
        "id": "a5c1fd4e8df58551",
        "type": "change",
        "z": "c395f374d5bba422",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ports.port6.data",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 460,
        "wires": [
            [
                "264ab98aa0aa9ee0"
            ]
        ]
    },
    {
        "id": "6bbd72ea4b12e1c8",
        "type": "change",
        "z": "c395f374d5bba422",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ports.port7.data",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 520,
        "wires": [
            [
                "01c9244c72353251"
            ]
        ]
    },
    {
        "id": "2621991113e03109",
        "type": "change",
        "z": "c395f374d5bba422",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ports.port8.data",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 580,
        "wires": [
            [
                "c92bb0e5efbba161"
            ]
        ]
    },
    {
        "id": "c92bb0e5efbba161",
        "type": "change",
        "z": "c395f374d5bba422",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ports",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "ea24126046df2c97",
        "type": "subflow:d8eff534107492f4",
        "z": "c395f374d5bba422",
        "name": "",
        "x": 930,
        "y": 160,
        "wires": [
            [
                "196e6bf11287a52a"
            ]
        ]
    },
    {
        "id": "c31def8bf825b0b8",
        "type": "change",
        "z": "c395f374d5bba422",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "devices",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "196e6bf11287a52a",
        "type": "change",
        "z": "c395f374d5bba422",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ports.port1.data",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 160,
        "wires": [
            [
                "ff773da3c60a548b"
            ]
        ]
    },
    {
        "id": "8a27734cd845df7f",
        "type": "subflow:d8eff534107492f4",
        "z": "c395f374d5bba422",
        "name": "",
        "x": 930,
        "y": 220,
        "wires": [
            [
                "f46dc73e1bcddcbe"
            ]
        ]
    },
    {
        "id": "19d76041ded916a2",
        "type": "subflow:d8eff534107492f4",
        "z": "c395f374d5bba422",
        "name": "",
        "x": 930,
        "y": 280,
        "wires": [
            [
                "7466d27992f8ca03"
            ]
        ]
    },
    {
        "id": "d0a7d39f3a037530",
        "type": "subflow:d8eff534107492f4",
        "z": "c395f374d5bba422",
        "name": "",
        "x": 930,
        "y": 340,
        "wires": [
            [
                "e0d762bde87ad235"
            ]
        ]
    },
    {
        "id": "276e0a195a549118",
        "type": "subflow:d8eff534107492f4",
        "z": "c395f374d5bba422",
        "name": "",
        "x": 930,
        "y": 400,
        "wires": [
            [
                "c42c33eef980cae4"
            ]
        ]
    },
    {
        "id": "d18e1c9972699ca1",
        "type": "subflow:d8eff534107492f4",
        "z": "c395f374d5bba422",
        "name": "",
        "x": 930,
        "y": 460,
        "wires": [
            [
                "a5c1fd4e8df58551"
            ]
        ]
    },
    {
        "id": "34027634beeec7e2",
        "type": "subflow:d8eff534107492f4",
        "z": "c395f374d5bba422",
        "name": "",
        "x": 930,
        "y": 520,
        "wires": [
            [
                "6bbd72ea4b12e1c8"
            ]
        ]
    },
    {
        "id": "017e756a21c2c87e",
        "type": "subflow:d8eff534107492f4",
        "z": "c395f374d5bba422",
        "name": "",
        "x": 930,
        "y": 580,
        "wires": [
            [
                "2621991113e03109"
            ]
        ]
    },
    {
        "id": "6d0b111efc82a527",
        "type": "change",
        "z": "c395f374d5bba422",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ports",
                "pt": "flow",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "cdbec5e17b8da2a4"
            ]
        ]
    },
    {
        "id": "d77f0105aba49980",
        "type": "change",
        "z": "c395f374d5bba422",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "devName",
                "pt": "msg",
                "to": "devices.port2.devName",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "ports.port2.serial",
                "pt": "flow",
                "to": "devices.port2.devSerial",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 220,
        "wires": [
            [
                "8a27734cd845df7f"
            ]
        ]
    },
    {
        "id": "d79fb29cdd44ad32",
        "type": "change",
        "z": "c395f374d5bba422",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "devName",
                "pt": "msg",
                "to": "devices.port3.devName",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "ports.port3.serial",
                "pt": "flow",
                "to": "devices.port3.devSerial",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 280,
        "wires": [
            [
                "19d76041ded916a2"
            ]
        ]
    },
    {
        "id": "9b1acc21833bada2",
        "type": "change",
        "z": "c395f374d5bba422",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "devName",
                "pt": "msg",
                "to": "devices.port5.devName",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "ports.port5.serial",
                "pt": "flow",
                "to": "devices.port5.devSerial",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 400,
        "wires": [
            [
                "276e0a195a549118"
            ]
        ]
    },
    {
        "id": "394f960a6d985212",
        "type": "change",
        "z": "c395f374d5bba422",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "devName",
                "pt": "msg",
                "to": "devices.port6.devName",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "ports.port6.serial",
                "pt": "flow",
                "to": "devices.port6.devSerial",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 460,
        "wires": [
            [
                "d18e1c9972699ca1"
            ]
        ]
    },
    {
        "id": "73098bb69f73b57b",
        "type": "change",
        "z": "c395f374d5bba422",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "devName",
                "pt": "msg",
                "to": "devices.port7.devName",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "ports.port7.serial",
                "pt": "flow",
                "to": "devices.port7.devSerial",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 520,
        "wires": [
            [
                "34027634beeec7e2"
            ]
        ]
    },
    {
        "id": "f2b9f28781bbc131",
        "type": "change",
        "z": "c395f374d5bba422",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "devName",
                "pt": "msg",
                "to": "devices.port8.devName",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "ports.port8.serial",
                "pt": "flow",
                "to": "devices.port8.devSerial",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 580,
        "wires": [
            [
                "017e756a21c2c87e"
            ]
        ]
    },
    {
        "id": "4ece281a2a170253",
        "type": "change",
        "z": "c395f374d5bba422",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "devName",
                "pt": "msg",
                "to": "devices.port4.devName",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "ports.port4.serial",
                "pt": "flow",
                "to": "devices.port4.devSerial",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 340,
        "wires": [
            [
                "d0a7d39f3a037530"
            ]
        ]
    },
    {
        "id": "34a4e7e9cc3687ce",
        "type": "switch",
        "z": "d8eff534107492f4",
        "name": "",
        "property": "devName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "PV8002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "PV8000",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TA2105",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "O1D102",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "O1D100",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 230,
        "y": 340,
        "wires": [
            [
                "fb80f376a26705b3"
            ],
            [
                "53c726fc1028b527"
            ],
            [
                "07c57668abdc994e"
            ],
            [
                "0b7f8b830932a8bf"
            ],
            [
                "8b80f99b0e88cbb2"
            ],
            [
                "371d093ac236cbce"
            ]
        ]
    },
    {
        "id": "371d093ac236cbce",
        "type": "change",
        "z": "d8eff534107492f4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "-",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "fb80f376a26705b3",
        "type": "buffer-parser",
        "z": "d8eff534107492f4",
        "name": "PV8002",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16be",
                "name": "pressure",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 440,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "53c726fc1028b527",
        "type": "buffer-parser",
        "z": "d8eff534107492f4",
        "name": "PV8000",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16be",
                "name": "pressure",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 440,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "07c57668abdc994e",
        "type": "buffer-parser",
        "z": "d8eff534107492f4",
        "name": "TA2105",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16be",
                "name": "temperature",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 440,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f1632e3bd92b44c4",
        "type": "buffer-parser",
        "z": "d8eff534107492f4",
        "d": true,
        "g": "19b6f50e55a455e1",
        "name": "PV8002",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16be",
                "name": "pressure",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "int8",
                "name": "scale-pressure",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "temperature",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.01",
                "mask": ""
            },
            {
                "type": "int8",
                "name": "scale-temperature",
                "offset": 6,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int8",
                "name": "status",
                "offset": 7,
                "length": 1,
                "offsetbit": 0,
                "scale": ">>4",
                "mask": "0xF0"
            },
            {
                "type": "bool",
                "name": "out1",
                "offset": 7,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "bool",
                "name": "out2",
                "offset": 7,
                "length": 1,
                "offsetbit": 1,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1220,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "065a3d5ac1b7f5d4",
        "type": "buffer-parser",
        "z": "d8eff534107492f4",
        "d": true,
        "g": "19b6f50e55a455e1",
        "name": "PV8000",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16be",
                "name": "pressure",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "int8",
                "name": "scale-pressure",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "temperature",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.01",
                "mask": ""
            },
            {
                "type": "int8",
                "name": "scale-temperature",
                "offset": 6,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int8",
                "name": "status",
                "offset": 7,
                "length": 1,
                "offsetbit": 0,
                "scale": ">>4",
                "mask": "0xF0"
            },
            {
                "type": "bool",
                "name": "out1",
                "offset": 7,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "bool",
                "name": "out2",
                "offset": 7,
                "length": 1,
                "offsetbit": 1,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1220,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "9a6c333b4b587bad",
        "type": "buffer-parser",
        "z": "d8eff534107492f4",
        "d": true,
        "g": "19b6f50e55a455e1",
        "name": "TA2105",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16be",
                "name": "temperature",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1220,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "0b717de283f6608d",
        "type": "buffer-parser",
        "z": "d8eff534107492f4",
        "d": true,
        "g": "19b6f50e55a455e1",
        "name": "IG6086",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16be",
                "name": "pdv1",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "scale",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "status",
                "offset": 3,
                "length": 1,
                "offsetbit": 0,
                "scale": ">>4",
                "mask": "0xF0"
            },
            {
                "type": "bool",
                "name": "ssc1",
                "offset": 3,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "bool",
                "name": "ssc2",
                "offset": 3,
                "length": 1,
                "offsetbit": 1,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1220,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "5c8b5d9c9ceccadf",
        "type": "buffer-parser",
        "z": "d8eff534107492f4",
        "d": true,
        "g": "19b6f50e55a455e1",
        "name": "O1D103",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16be",
                "name": "distance",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "reflectivity",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "status",
                "offset": 7,
                "length": 1,
                "offsetbit": 0,
                "scale": ">>4",
                "mask": "0xF0"
            },
            {
                "type": "bool",
                "name": "out1",
                "offset": 7,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "bool",
                "name": "out2",
                "offset": 7,
                "length": 1,
                "offsetbit": 1,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1220,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "7f226d4c25819e01",
        "type": "buffer-parser",
        "z": "d8eff534107492f4",
        "d": true,
        "g": "19b6f50e55a455e1",
        "name": "TW2000",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16be",
                "name": "temperature",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "scale",
                "offset": 3,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": "0xF0"
            },
            {
                "type": "uint8",
                "name": "status",
                "offset": 3,
                "length": 1,
                "offsetbit": 0,
                "scale": ">>4",
                "mask": "0xF0"
            },
            {
                "type": "bool",
                "name": "out1",
                "offset": 3,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1220,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c56add60c00b9105",
        "type": "buffer-parser",
        "z": "d8eff534107492f4",
        "d": true,
        "g": "19b6f50e55a455e1",
        "name": "VVB021",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16be",
                "name": "vrms",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.0001",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "scale-vrms",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "apeak",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "scale-apeak",
                "offset": 6,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "arms",
                "offset": 8,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "scale-arms",
                "offset": 10,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "temperature",
                "offset": 12,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "scale-temperature",
                "offset": 14,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "crest",
                "offset": 16,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "scale-crest",
                "offset": 18,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "status",
                "offset": 19,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": "0xF0"
            },
            {
                "type": "bool",
                "name": "out1",
                "offset": 19,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "bool",
                "name": "out2",
                "offset": 19,
                "length": 1,
                "offsetbit": 1,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1220,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "0b7f8b830932a8bf",
        "type": "buffer-parser",
        "z": "d8eff534107492f4",
        "name": "O1D103",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16be",
                "name": "distance",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "reflectivity",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "status",
                "offset": 7,
                "length": 1,
                "offsetbit": 0,
                "scale": ">>4",
                "mask": "0xF0"
            },
            {
                "type": "bool",
                "name": "out1",
                "offset": 7,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "bool",
                "name": "out2",
                "offset": 7,
                "length": 1,
                "offsetbit": 1,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 440,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "8b80f99b0e88cbb2",
        "type": "buffer-parser",
        "z": "d8eff534107492f4",
        "name": "O1D100",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16be",
                "name": "distance",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "reflectivity",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "status",
                "offset": 7,
                "length": 1,
                "offsetbit": 0,
                "scale": ">>4",
                "mask": "0xF0"
            },
            {
                "type": "bool",
                "name": "out1",
                "offset": 7,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "bool",
                "name": "out2",
                "offset": 7,
                "length": 1,
                "offsetbit": 1,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 440,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "d1e0699f3e3c2b0d",
        "type": "subflow:65ae0cadc7781aa1",
        "z": "9dcf4eee0723b8d2",
        "g": "5b5f595359b2ec9b",
        "name": "",
        "env": [
            {
                "name": "IP_DIRECTION",
                "value": "192.168.192.150",
                "type": "str"
            }
        ],
        "x": 460,
        "y": 360,
        "wires": [
            [
                "afa6f4ca482b7156"
            ]
        ]
    },
    {
        "id": "6f9354ac4c4be6c8",
        "type": "inject",
        "z": "9dcf4eee0723b8d2",
        "g": "5b5f595359b2ec9b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 360,
        "wires": [
            [
                "d1e0699f3e3c2b0d"
            ]
        ]
    },
    {
        "id": "93bcd886dcf1f3fe",
        "type": "debug",
        "z": "9dcf4eee0723b8d2",
        "g": "5b5f595359b2ec9b",
        "name": "debug 134",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 360,
        "wires": []
    },
    {
        "id": "afa6f4ca482b7156",
        "type": "change",
        "z": "9dcf4eee0723b8d2",
        "g": "5b5f595359b2ec9b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "iolink",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 360,
        "wires": [
            [
                "93bcd886dcf1f3fe"
            ]
        ]
    },
    {
        "id": "6f85589b917f382a",
        "type": "inject",
        "z": "9dcf4eee0723b8d2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "05932ccb87f572ba"
            ]
        ]
    },
    {
        "id": "05932ccb87f572ba",
        "type": "debug",
        "z": "9dcf4eee0723b8d2",
        "name": "debug 149",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 580,
        "wires": []
    },
    {
        "id": "d50b6f30533c45ef",
        "type": "subflow:c395f374d5bba422",
        "z": "b1a454d0a1b772ee",
        "name": "",
        "env": [
            {
                "name": "IP_DIRECTION",
                "value": "192.168.192.150",
                "type": "str"
            }
        ],
        "x": 580,
        "y": 360,
        "wires": [
            [
                "823e639c30594436"
            ]
        ]
    },
    {
        "id": "98f340645b1415e9",
        "type": "inject",
        "z": "b1a454d0a1b772ee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "553a1a1d1397b95b"
            ]
        ]
    },
    {
        "id": "553a1a1d1397b95b",
        "type": "change",
        "z": "b1a454d0a1b772ee",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "iolink",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 360,
        "wires": [
            [
                "d50b6f30533c45ef"
            ]
        ]
    },
    {
        "id": "22ffc1a5c748e54e",
        "type": "subflow:65ae0cadc7781aa1",
        "z": "b1a454d0a1b772ee",
        "name": "",
        "env": [
            {
                "name": "IP_DIRECTION",
                "value": "192.168.192.150",
                "type": "str"
            }
        ],
        "x": 460,
        "y": 220,
        "wires": [
            [
                "19b8f1ab883cf6b1",
                "2bc2c6b450612578"
            ]
        ]
    },
    {
        "id": "d0c311066368dcc4",
        "type": "inject",
        "z": "b1a454d0a1b772ee",
        "name": "Update Scan",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "22ffc1a5c748e54e",
                "aa64b939705d0339"
            ]
        ]
    },
    {
        "id": "2bc2c6b450612578",
        "type": "debug",
        "z": "b1a454d0a1b772ee",
        "name": "debug 144",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 220,
        "wires": []
    },
    {
        "id": "19b8f1ab883cf6b1",
        "type": "change",
        "z": "b1a454d0a1b772ee",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "iolink",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 220,
        "wires": [
            [
                "2bc2c6b450612578"
            ]
        ]
    },
    {
        "id": "1a0b956a72fd07e8",
        "type": "change",
        "z": "b1a454d0a1b772ee",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data_online_save_sensors.data",
                "pt": "global",
                "to": "payload.data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "56e9021db7d794c4",
        "type": "change",
        "z": "b1a454d0a1b772ee",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data_live_fast_sensors.data",
                "pt": "global",
                "to": "payload.data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "823e639c30594436",
        "type": "function",
        "z": "b1a454d0a1b772ee",
        "name": "function 108",
        "func": "const jsonOriginal = msg.payload;\n\nconst nuevoJson = {};\n\nfor (const port in jsonOriginal) {\n  if (jsonOriginal.hasOwnProperty(port)) {\n    const data = jsonOriginal[port].data;\n    const serial = jsonOriginal[port].serial;\n\n    if (serial) {\n      nuevoJson.data = {\n        ...nuevoJson.data,\n        [serial]: { ...data }\n      };\n    }\n  }\n}\n\nmsg.payload = nuevoJson;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 360,
        "wires": [
            [
                "1a0b956a72fd07e8",
                "56e9021db7d794c4",
                "be38ba935f759871",
                "e5d29237b293b848"
            ]
        ]
    },
    {
        "id": "8cf377f4aa5aa717",
        "type": "subflow:1af9c3d86050e6d8",
        "z": "b1a454d0a1b772ee",
        "name": "",
        "env": [
            {
                "name": "IP_DIRECTION",
                "value": "192.168.192.150",
                "type": "str"
            }
        ],
        "x": 430,
        "y": 600,
        "wires": [
            [
                "19d0de791b9da59b"
            ]
        ]
    },
    {
        "id": "fdf45082a79780ab",
        "type": "inject",
        "z": "b1a454d0a1b772ee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 600,
        "wires": [
            [
                "8cf377f4aa5aa717"
            ]
        ]
    },
    {
        "id": "76a07c5b0b59d8a5",
        "type": "debug",
        "z": "b1a454d0a1b772ee",
        "name": "debug 148",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 600,
        "wires": []
    },
    {
        "id": "19d0de791b9da59b",
        "type": "subflow:d8eff534107492f4",
        "z": "b1a454d0a1b772ee",
        "name": "",
        "x": 630,
        "y": 600,
        "wires": [
            [
                "76a07c5b0b59d8a5"
            ]
        ]
    },
    {
        "id": "be38ba935f759871",
        "type": "function",
        "z": "b1a454d0a1b772ee",
        "name": "function 109",
        "func": "const iolink = global.get(\"iolink\")\nconst resultado = {};\nif(!!iolink) {\n    if (!!msg.payload.data) {\n        const keys = Object.keys(iolink);\n\n        for(const _key of keys) {\n            const serial = iolink[_key][\"devSerial\"]\n            if(!!serial) {\n                const distance = msg.payload.data[serial].distance\n                if(!!distance) {\n                    resultado[_key] = distance\n                } else {\n                    resultado[_key] = 0\n                }\n            } else {\n                resultado[_key] = 0\n            }\n\n        }\n\n    }\n}\n\nreturn resultado;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 520,
        "wires": [
            [
                "cb4593747815fda4",
                "36c3f5b46560c325",
                "4c2c1bd103fcd6ce",
                "5c53e9ef7a68425a",
                "cb4f88b630467be5",
                "96a527be90068866",
                "136a4ace87b7789e",
                "2462754e278382e7",
                "58708f48da23a3bc"
            ]
        ]
    },
    {
        "id": "cb4593747815fda4",
        "type": "ui_gauge",
        "z": "b1a454d0a1b772ee",
        "name": "Port_1",
        "group": "bd42404b5a3b147c",
        "order": 3,
        "width": 7,
        "height": 6,
        "gtype": "gage",
        "title": "Puerto 1",
        "label": "units",
        "format": "{{port1}} ",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1470,
        "y": 600,
        "wires": []
    },
    {
        "id": "f5dffa2c60c77a8c",
        "type": "mqtt out",
        "z": "b1a454d0a1b772ee",
        "name": "",
        "topic": "test1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f24f472989f566a2",
        "x": 1490,
        "y": 400,
        "wires": []
    },
    {
        "id": "e5d29237b293b848",
        "type": "json",
        "z": "b1a454d0a1b772ee",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1170,
        "y": 480,
        "wires": [
            [
                "f5dffa2c60c77a8c"
            ]
        ]
    },
    {
        "id": "36c3f5b46560c325",
        "type": "ui_gauge",
        "z": "b1a454d0a1b772ee",
        "name": "Port_2",
        "group": "bd42404b5a3b147c",
        "order": 4,
        "width": 7,
        "height": 6,
        "gtype": "gage",
        "title": "Puerto 2",
        "label": "units",
        "format": "{{port2}} ",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1470,
        "y": 640,
        "wires": []
    },
    {
        "id": "5c53e9ef7a68425a",
        "type": "ui_gauge",
        "z": "b1a454d0a1b772ee",
        "name": "Port_3",
        "group": "bd42404b5a3b147c",
        "order": 5,
        "width": 7,
        "height": 6,
        "gtype": "gage",
        "title": "Puerto 3",
        "label": "units",
        "format": "{{port3}} ",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1470,
        "y": 680,
        "wires": []
    },
    {
        "id": "4c2c1bd103fcd6ce",
        "type": "ui_gauge",
        "z": "b1a454d0a1b772ee",
        "name": "Port_4",
        "group": "bd42404b5a3b147c",
        "order": 6,
        "width": 7,
        "height": 6,
        "gtype": "gage",
        "title": "Puerto 4",
        "label": "units",
        "format": "{{port4}} ",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1470,
        "y": 720,
        "wires": []
    },
    {
        "id": "cb4f88b630467be5",
        "type": "ui_gauge",
        "z": "b1a454d0a1b772ee",
        "name": "Port_5",
        "group": "bd42404b5a3b147c",
        "order": 13,
        "width": 7,
        "height": 6,
        "gtype": "gage",
        "title": "Puerto 5",
        "label": "units",
        "format": "{{port5}} ",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1470,
        "y": 760,
        "wires": []
    },
    {
        "id": "96a527be90068866",
        "type": "ui_gauge",
        "z": "b1a454d0a1b772ee",
        "name": "Port_6",
        "group": "bd42404b5a3b147c",
        "order": 14,
        "width": 7,
        "height": 6,
        "gtype": "gage",
        "title": "Puerto 6",
        "label": "units",
        "format": "{{port6}} ",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1470,
        "y": 800,
        "wires": []
    },
    {
        "id": "136a4ace87b7789e",
        "type": "ui_gauge",
        "z": "b1a454d0a1b772ee",
        "name": "Port_7",
        "group": "bd42404b5a3b147c",
        "order": 15,
        "width": 7,
        "height": 6,
        "gtype": "gage",
        "title": "Puerto 7",
        "label": "units",
        "format": "{{port7}} ",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1470,
        "y": 840,
        "wires": []
    },
    {
        "id": "2462754e278382e7",
        "type": "ui_gauge",
        "z": "b1a454d0a1b772ee",
        "name": "Port_8",
        "group": "bd42404b5a3b147c",
        "order": 16,
        "width": 7,
        "height": 6,
        "gtype": "gage",
        "title": "Puerto 8",
        "label": "units",
        "format": "{{port8}} ",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1470,
        "y": 880,
        "wires": []
    },
    {
        "id": "8feef1118c4d2688",
        "type": "ui_button",
        "z": "b1a454d0a1b772ee",
        "name": "",
        "group": "bd42404b5a3b147c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Scan_Io-Link",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "add",
        "payload": "timestamp",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "5e46f9c0fd8052b0",
                "22ffc1a5c748e54e"
            ]
        ]
    },
    {
        "id": "5e46f9c0fd8052b0",
        "type": "debug",
        "z": "b1a454d0a1b772ee",
        "name": "debug 151",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "aa64b939705d0339",
        "type": "debug",
        "z": "b1a454d0a1b772ee",
        "name": "debug 152",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "397b67202512ef92",
        "type": "debug",
        "z": "b1a454d0a1b772ee",
        "name": "debug 156",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2150,
        "y": 540,
        "wires": []
    },
    {
        "id": "15aadde17c038948",
        "type": "inject",
        "z": "b1a454d0a1b772ee",
        "g": "08c902da4f7dcb55",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 1040,
        "wires": [
            [
                "2aca6185fd12770c"
            ]
        ]
    },
    {
        "id": "2aca6185fd12770c",
        "type": "function",
        "z": "b1a454d0a1b772ee",
        "g": "08c902da4f7dcb55",
        "name": "DELETE ALL",
        "func": "\nmsg.topic = `\n  DELETE FROM DATA;\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1040,
        "wires": [
            [
                "c794322cc5fa1859"
            ]
        ]
    },
    {
        "id": "c794322cc5fa1859",
        "type": "mysql",
        "z": "b1a454d0a1b772ee",
        "g": "08c902da4f7dcb55",
        "mydb": "c49fc2234044fae7",
        "name": "",
        "x": 630,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "9a84f84b3d3d3e94",
        "type": "function",
        "z": "b1a454d0a1b772ee",
        "name": "function 113",
        "func": "\nmsg.topic = \"INSERT INTO `DATA` (`DATA`) VALUES ('\"+ msg.payload + \"');\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1750,
        "y": 540,
        "wires": [
            [
                "a7bc12962729c39e",
                "590639b3ef80d4bd"
            ]
        ]
    },
    {
        "id": "a7bc12962729c39e",
        "type": "mysql",
        "z": "b1a454d0a1b772ee",
        "mydb": "c49fc2234044fae7",
        "name": "",
        "x": 1970,
        "y": 540,
        "wires": [
            [
                "397b67202512ef92"
            ]
        ]
    },
    {
        "id": "590639b3ef80d4bd",
        "type": "debug",
        "z": "b1a454d0a1b772ee",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1960,
        "y": 500,
        "wires": []
    },
    {
        "id": "58708f48da23a3bc",
        "type": "function",
        "z": "b1a454d0a1b772ee",
        "name": "function 114",
        "func": "msg.payload = JSON.stringify(msg);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 540,
        "wires": [
            [
                "9a84f84b3d3d3e94"
            ]
        ]
    },
    {
        "id": "504f9ee3ddda68f1",
        "type": "link out",
        "z": "b1a454d0a1b772ee",
        "name": "link out 1",
        "mode": "link",
        "links": [],
        "x": 1355,
        "y": 520,
        "wires": []
    }
]